# Cache, temp and personal files

/.htaccess
*.log
npm-debug.log.*
.sass-cache/
/cache/*
cache/*
download/*
/img/*
/log/*
log/*
/upload/*
/vendor/*
!/vendor/.htaccess
docs/phpdoc-sf/
composer.lock

/admin*/autoupgrade/*
/admin*/backups/*
/admin*/import/*

/var/*
var/*

momfiles/*
/momfiles/*

/var/cache/prod/appProdProjectContainer.php
/var/cache/prod/smarty/compile/30/5a/43/305a43bb7fa992d420202048760c8fe7c37adb8c_0.file.end.tpl.php
/var/cache/prod/smarty/compile/4e/77/89/4e778913a3a1574d1280f61ba9cd22b4fc179c74_0.file.faviconbo.tpl.php
/var/cache/prod/smarty/compile/8e/84/62/8e8462daacd39a59d9d588f63e2230c17419ebec_0.file.login_addons.tpl.php
/var/cache/prod/smarty/compile/c9/33/92/c93392323dd4349bdc211cfa55ba2638a06a2aba_0.file.welcome.tpl.php
